:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  padding-right: 50px;
}
aside {
  border: solid;
  border-width: 1px;
  border-color: blue;
  grid-area: sidebar;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}
footer {
  grid-area: footer;
  background-color: rgb(208, 208, 208);
}
body {
  background-color: rgb(226, 244, 243);
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'footer footer footer footer';
}
h1 {
  display: flex;
  justify-content: center;
  font-family: 'Bacasime Antique', serif;
  font-size: 4rem;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
header nav {
  background-color: rgb(72, 198, 217);
  color: white;
}
li {
  padding-right: 20px;
}
header a:visited {
  color: white;
}
img {
  padding: 5px;
}
h3 {
  padding-left: 5px;
}
h1,
h2,
h3 {
  color: dimgray;
}
